{% extends 'main.html' %}
{% block content %}
<div class="col">
    <div class="col">
        {% if 'add' in actions %}
        <div class="card-footer">
            <a href="/{{entity}}/add" class="btn btn-primary">Nuevo</a>
        </div>
        {% endif %}

    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            {% for header in view_config['fields'] %}
            <th scope="col">{{header}}</th>
            {% endfor %}
            {% for action in actions %}
                {% if action != 'add' %}
                    <th scope="col"></th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
        <tr>
            <th scope="row">{{row.id}}</th>
            {% for header in view_config['fields'] %}
            <th scope="row">{{row[header]}}</th>
            {% endfor %}
            {% for action in actions %}
                {% if action != 'add' %}
                    <th scope="row"><a href="/{{entity}}/{{action}}/{{row.id}}"
                                       {% if action == 'delete' %}onclick="return confirm('Are you sure you want to delete this item?');"{% endif %} />
                        <img src="{{ url_for('static', path='/images/icons/' ~ action ~ '.svg') }}"
                                 width="16px" height="16px" alt="{{action}}"/>
                    </a></th>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
