{% extends 'main.html' %}
{% block content %}
<div class="col">
    <div class="col">
        {% if 'add' in actions %}
        <div class="card-footer">
            <a href="/{{entity}}/add" class="btn btn-primary">Nuevo</a>
        </div>
        {% endif %}

    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            {% for header in view_config %}
            <th scope="col">{{header}}</th>
            {% endfor %}
            {% if 'view-more' in actions %}
            <th scope="col"></th>
            {% endif %}
            {% if 'edit' in actions %}
            <th scope="col"></th>
            {% endif %}
            {% if 'delete' in actions %}
            <th scope="col"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
        <tr>
            <th scope="row">{{row.id}}</th>
            {% for header in view_config %}
            <th scope="row">{{row[header]}}</th>
            {% endfor %}
            {% if 'view-more' in actions %}
            <th scope="row"><a href="/{{entity}}/view-more/{{row.id}}">
                <img src="{{ url_for('static', path='/images/icons/view-more.svg') }}" width="16px" height="16px"
                     alt="Ver más"/>
            </a></th>
            {% endif %}
            {% if 'edit' in actions %}
            <th scope="row"><a href="/{{entity}}/edit/{{row.id}}">
                <img src="{{ url_for('static', path='/images/icons/edit.svg') }}" width="16px" alt="Editar"/>
            </a></th>
            {% endif %}
            {% if 'delete' in actions %}
            <th scope="row"><a href="/{{entity}}/delete/{{row.id}}"
                               onclick="return confirm('Are you sure you want to delete this item?');">
                <img src="{{ url_for('static', path='/images/icons/delete.svg') }}" width="16px" alt="Borrar"/>
            </a></th>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
